/* @import "@catppuccin/palette/style"; */

html {
  background-color: var(--base);
}

header {
  background-color: var(--mantle);
  height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  margin: 0;
  justify-self: center;
}

main {
  margin-inline: 0.5rem;
}
